<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="/css/font-face.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/css/theme.css" rel="stylesheet" media="all">
    <link href="/css/style.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo a-logo"  href="AdminAcceuil">
                        <!--                        <img src="images/icon/logo.png" alt="CoolAdmin" />--> CSN-TRANSFERT
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li class="has-sub">
                        <a class="js-arrow" th:href="@{/CaissierAcceuil1}">
                            <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <li>
                        <a th:href="@{/CaissierClient1}">
                            <i class="fas fa-users"></i>Clients</a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-money-bill-alt"></i>Transaction</a>
                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                                <a th:href="@{/CaissierTransfert1}">
                                    <i class="fas fa-hand-point-right"></i>Transfert</a>
                            </li>
                            <li>
                                <a th:href="@{/CaissierRetrait1}">
                                    <i class="fas fa-hand-point-left"></i>
                                    Retrait</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="#" class="a-logo">
                <!--                <img src="images/icon/logo.png" alt="Cool Admin" />--> CSN-TRANSFERT
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <div class="account2">
                <div class="image img-cir img-120">
                    <img th:src="@{'/image/'+${session.photoCaissier}}" alt="John Doe" />
                </div>
                <h4 class="name"><span th:text="${session.prenomCaissier}"></span>  <span th:text="${session.nomCaissier}"></span></h4>
            </div>
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li >
                        <a class="js-arrow" th:href="@{/CaissierAcceuil1}" >
                            <i class="fas fa-tachometer-alt" style="font-size: 1.5em;"></i>Dashboard</a>
                    </li>
                    <li >
                        <a class="js-arrow" th:href="@{/CaissierClient1}" >
                            <i class="fas fa-users" style="font-size: 1.5em;"></i>Clients</a>
                    </li>

                    <!--                    <li>-->
                    <!--                        <a th:href="@{/CaissierTransfert1}">-->
                    <!--                            <i class="fas fa-money-bill-alt" style="font-size: 1.5em;"></i>Transaction</a>-->
                    <!--                    </li>-->
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-money-bill-alt"></i>Transaction</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a th:href="@{/CaissierTransfert1}">
                                    <i class="fas fa-hand-point-right"></i>Transfert</a>
                            </li>
                            <li>
                                <a th:href="@{/CaissierRetrait1}">
                                    <i class="fas fa-hand-point-left"></i>
                                    Retrait</a>
                            </li>
                            <li>
                                <a th:href="@{'/CaissierTransfertListe/'+ ${session.idCaissier}}">
                                    <i class="fas fa-list"></i>
                                    Liste des Transactions</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <form class="form-header" action="" method="POST">
                            <input class="au-input au-input--xl" type="text" placeholder="rechercher..." />
                            <button class="au-btn--submit" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                        <div class="header-button">
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img  th:src="@{'/image/'+${session.photoCaissier}}" alt="John Doe" />
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#"><span th:text="${session.prenomCaissier}"></span>  <span th:text="${session.nomCaissier}"></span></a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img th:src="@{'/image/'+${session.photoCaissier}}" alt="John Doe" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#"><span th:text="${session.prenomCaissier}"></span>  <span th:text="${session.nomCaissier}"></span></a>
                                                </h5>
                                                <span class="email"><span th:text="${session.emailCaissier}"></span></span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-account"></i>compte</a>
                                            </div>
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-settings"></i>parametres</a>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a th:href="@{/logout1}">
                                                <i class="zmdi zmdi-power"></i>se déconnecter</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="au-card">
                                <div class="row">
                                    <div class="col-12" style="text-align: center;">
                                        <p class="p-titre-detail">Editer client</p>
                                    </div>
                                </div>
                                <form  method="post" novalidate="novalidate" th:action="@{/client/editer}" th:object="${client}"  enctype="multipart/form-data">
                                    <input th:field="*{id}" type="hidden" id="id">
                                    <input th:field="*{date_creation}" type="hidden" id="date_creation">
                                    <input th:field="*{photo}" type="hidden" id="photo">
                                    <input th:field="*{caissier.id}" type="hidden" id="admin">

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="account2">
                                                <div class="image img-cir img-120">
                                                    <img th:src="@{'/image/'+${client.getPhoto()}}" alt="" id="photo1"/>
                                                </div>
                                                <input th:field="*{parts}" type="file" accept=".png,.jpg, .jpeg" id="inputphoto" class="form-control-file" required="required">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="cni" class="control-label mb-1">N° CNI</label>
                                                <input id="cni" name="cni" th:field="*{cni}" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="1234609876543">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="prenom" class="control-label mb-1">Prenom</label>
                                                <input id="prenom"  name="preno " th:field="*{prenom}" type="text" class="form-control" aria-required="true" aria-invalid="false" value="100.00">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="nom" class="control-label mb-1">Nom</label>
                                                <input id="nom" name="nom" th:field="*{nom}" type="text" class="form-control" aria-required="true" aria-invalid="false" value="100.00">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group has-success">
                                                <label for="date_naissance" class="control-label mb-1">Date de naissance</label>
                                                <input id="date_naissance" name="date_naissance" th:field="*{date_naissance}" type="date" class="form-control" aria-required="true" aria-invalid="false" value="100.00">

                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group has-success">
                                                <label for="lieu_naissance" class="control-label mb-1">Lieu de naissance</label>
                                                <input id="lieu_naissance" name="lieu_naissance" th:field="*{lieu_naissance}" type="text" class="form-control" aria-required="true" aria-invalid="false" value="100.00">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group has-success">
                                                <label for="adresse" class="control-label mb-1">Adresse</label>
                                                <input id="adresse" name="adresse" th:field="*{adresse}" type="text" class="form-control" aria-required="true" aria-invalid="false" value="100.00">

                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group has-success">
                                                <label for="tel" class="control-label mb-1">Tel</label>
                                                <input id="tel" name="tel"  th:field="*{tel}" type="number" class="form-control" aria-required="true" aria-invalid="false" value="100.00">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label for="email" class="control-label mb-1">Email</label>
                                        <input id="email" name="email" th:field="*{email}" type="email" class="form-control" aria-required="true" aria-invalid="false" value="100.00">

                                    </div>

                                    <div>
                                        <button id="payment-button" style="background: green;" type="submit" class="btn btn-lg btn-info btn-block">
                                            editer
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTAINER-->
    </div>

</div>




<!-- Jquery JS-->
<script src="/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="/vendor/slick/slick.min.js">
</script>
<script src="/vendor/wow/wow.min.js"></script>
<script src="/vendor/animsition/animsition.min.js"></script>
<script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="/vendor/select2/select2.min.js">
</script>
<!--<script src="/js/app.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>-->

<!-- Main JS-->
<script src="/js/main.js"></script>
<script type="application/javascript">
    $(document).ready(function () {

        function imageIsLoaded(e) {
            //$("#file").css("color","green");
            //$('#image_preview').css("display", "block");
            $('#photo1').attr('src', e.target.result);
            $('#photo1').attr('width', '120px');
            $('#photo1').attr('height', '100px');
        };
        $('#inputphoto').change(function () {
            if (this.files && this.files[0]) {
                var file = this.files[0];
                var imagefile = file.type;
                var reader = new FileReader();
                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });
    })
</script>
</body>
</html>